<form method="post" action="{{ path('app_envio_delete', {'id': envio.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ envio.id) }}">
    <button  class="btn waves-effect waves-light btn-danger">Borrar</button>
</form>
