
<a  class="btn waves-effect waves-light btn-danger" href="{{ path('app_envio_delete', {'id': envio.id}) }}" onclick="return confirm('Estas seguro de borrar este envio')"><i class="fas fa-trash-alt"></i></a>