{% extends 'base.html.twig' %}

{% block title %}Edit Envio{% endblock %}

{% block body %}
    <h1>Editar Envio</h1>

    {{ include('envio/_form.html.twig', {'button_label': 'Actualizar'}) }}

   

    {{ include('envio/_delete_form.html.twig') }}
   
{% endblock %}
{% block javascripts %} 
      <script>
    function CambiarValor(id){
       $.ajax({
        url : '{{ path('app_envio_actualizarvalor')}}',
        data : { id : id},
        type : 'POST',
        dataType : 'json',
        success : function(json) {

            console.log(json);

        alert('valor actualizado Correctamente');
        location.reload();

            },
       error : function(xhr, status) {
        alert('Disculpe, existió un problema');
       }
          });

    }

    </script>
{% endblock %}