{% extends 'base.html.twig' %}

{% block title %}Edit Envio{% endblock %}

{% block body %}
    <h1>Edit Envio</h1>

    {{ include('envio/_form.html.twig', {'button_label': 'Actualizar'}) }}

   

    {{ include('envio/_delete_form.html.twig') }}
{% endblock %}
