{% extends 'base.html.twig' %}

{% import "macros/select2.html.twig" as macroselect2 %}

{% block title %}New Envio{% endblock %}

{% block stylesheets %}
{{ macroselect2.styleSelect2}}
{% endblock %}

{% block body %}
    <h1>Crear Nuevo Envio</h1>

    {{ include('envio/_form.html.twig') }}

    
{% endblock %}

{% block javascripts %} 
{{ macroselect2.scriptSelect2}}
<script>

$('#envio_numeroEnvio').keyup(function(){
        
         $.ajax({
            url : '{{ path('app_envio_buscar_codigo')}}',
            data : { val : $('#envio_numeroEnvio').val()},
            type : 'POST',
            dataType : 'json',
            success : function(json) {

                console.log(json);
                if(json.envio){
                     alert('Ya existe un envio con este mismo número de envio');
                }
                },
        error : function(xhr, status) {
            alert('Disculpe, existió un problema');
        }
            });
        });

    $("#envio_paisOrigen").select2({
            width: '100%'});
            
    $("#envio_paisDestino").select2({
            width: '100%'});

     $("#envio_municipio").select2({
            width: '100%'});
            
    $(document).on('select2:open', () => {
        document.querySelector('.select2-search__field').focus();
     });
</script>
{% endblock %}