{% extends 'base.html.twig' %}

{% block title %}Edit TarifasConfiguracion{% endblock %}

{% block body %}
    <h1>Edit TarifasConfiguracion</h1>

    {{ include('tarifas_configuracion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tarifas_configuracion_index') }}">back to list</a>

    {{ include('tarifas_configuracion/_delete_form.html.twig') }}
{% endblock %}
