{% extends 'base.html.twig' %}

{% block title %}configuración{% endblock %}

{% block body %}
    <h1>Editar Variables Tarifas</h1>

    {{ include('tarifas_configuracion/_form.html.twig', {'button_label': 'Actualizar'}) }}

   

  {#  {{ include('tarifas_configuracion/_delete_form.html.twig') }}#}
{% endblock %}
