{% extends 'base.html.twig' %}

{% block title %}New TarifasConfiguracion{% endblock %}

{% block body %}
    <h1>Create new TarifasConfiguracion</h1>

    {{ include('tarifas_configuracion/_form.html.twig') }}

    
{% endblock %}
