{% extends 'base.html.twig' %}

{% block title %}Edit Pais{% endblock %}

{% block body %}
    <h1>Editar Pais</h1>

    {{ include('pais/_form.html.twig', {'button_label': 'Actualizar'}) }}

    {{ include('pais/_delete_form.html.twig') }}
{% endblock %}
