.my_logo_login{
    width: 150px;
    border-radius: 75px;
}
.my_logo_icon{
     width: 30px;
     border-radius: 15px;
 }

.my-logo-text{
    color: #ffff;
    font-size: .875rem;
}
.border-color{
    border-color: #5ac146;
}