{% extends 'base.html.twig' %}

{% block title %}Hello EstadisticasController!{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-6 col-md-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body">
             <div class="d-flex align-items-center">
                    <div>
                      <h4 class="card-title">Rango de fechas:</h4>
                    </div>
                    <div class="ms-auto">
                      <div class="">
                        <input type="text" id="fechaRango" name="fechaRango" class="form-control"/>
                      </div>
                    </div>
                </div>
             <div id="enviosPorPaisChart" style="width:100%; height:400px;"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body">
             <div class="d-flex align-items-center">
                    <div>
                      <h4 class="card-title">Rango de fechas:</h4>
                    </div>
                    <div class="ms-auto">
                      <div class="">
                        <input type="text" id="fechaRangoDestino" name="fechaRangoDestino" class="form-control"/>
                      </div>
                    </div>
                </div>
             <div id="enviosPorPaisDestinoChart" style="width:100%; height:400px;"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body">
             <div class="d-flex align-items-center">
                    <div>
                      <h4 class="card-title">Rango de fechas:</h4>
                    </div>
                    <div class="ms-auto">
                      <div class="">
                        <input type="text" id="fechaPesoPorDia" name="fechaPesoPorDia" class="form-control"/>
                      </div>
                    </div>
            </div>
            <div id="totalesPorDiaChart" style="width:100%; height:400px;"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body">
             <div class="d-flex align-items-center">
                    <div>
                      <h4 class="card-title">Rango de fechas:</h4>
                    </div>
                    <div class="ms-auto">
                      <div class="">
                        <input type="text" id="fechaPorEmpresa" name="fechaPorEmpresa" class="form-control"/>
                      </div>
                    </div>
            </div>
            <div id="rangosDePesoChart" style="width:100%; height:400px;"></div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block javascripts %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script>
 $(document).ready(function() {
        const fechaFin = moment();
        const fechaInicio = moment().subtract(3, 'months');
        // Configurar el daterangepicker
        $('#fechaRango').daterangepicker({
            opens: 'left',
            locale: {
                format: 'YYYY-MM-DD' // Formato de fecha que usaremos
            },
            startDate: fechaInicio,
            endDate: fechaFin,
            ranges: {
                'Últimos 3 meses': [fechaInicio, fechaFin],
                'Últimos 6 meses': [moment().subtract(6, 'months'), fechaFin],
                'Último año': [moment().subtract(1, 'year'), fechaFin],
                'Este año': [moment().startOf('year'), fechaFin]
            }
        }, function(start, end) {
            // Función que se llama cuando el usuario selecciona un rango de fechas
            const fechaInicio = start.format('YYYY-MM-DD');
            const fechaFin = end.format('YYYY-MM-DD');
            cargarGraficoOrigen(fechaInicio, fechaFin);
        });

        function cargarGraficoOrigen(fechaInicio = '', fechaFin = '') {
            $.ajax({
                url: '{{ path('app_estadisticas_envios_por_pais')}}',
                method: 'GET',
                data: { fechaInicio: fechaInicio, fechaFin: fechaFin },
                success: function(data) {
                     const totalGeneral = data.totales.reduce((acc, curr) => acc + curr, 0);
                    Highcharts.chart('enviosPorPaisChart', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Cantidad de envíos por ciudad de origen'
                        },
                        xAxis: {
                            categories: data.labels,
                            title: {
                                text: 'Ciudades'
                            }
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Cantidad de envíos'
                            }
                        },
                        tooltip: {
                               formatter: function() {
                                        return `
                                            <b>${this.point.category}</b><br>
                                            <b>${this.point.y} envíos</b><br>
                                            Total a cobrar: <b>${Highcharts.numberFormat(this.point.totalCobrar, 2, '.', ',')} COP</b>
                                        `;
                                    }
                            },
                        plotOptions: {
                            column: {
                                dataLabels: {
                                    enabled: true,
                                    formatter: function() {
                                        const porcentaje = ((this.y / totalGeneral) * 100).toFixed(2);
                                        return `${porcentaje}%`; // Mostrar porcentaje encima de cada barra
                                    },
                                    style: {
                                        fontWeight: 'bold',
                                        color: 'black'
                                    }
                                }
                            }
                        },
                        series: [{
                            name: 'Envíos',
                            data: data.totales.map((total, index) => ({
                            y: total,
                            totalCobrar: data.totalesCobrar[index]
                        })),
                        color: 'rgba(128, 0, 128, 0.8)'
                            }]
                    });
                },
                error: function(error) {
                    console.error("Error al cargar los datos de envíos por ciudad:", error);
                }
            });
        }


        //grafico destino
         $('#fechaRangoDestino').daterangepicker({
            opens: 'left',
            locale: {
                format: 'YYYY-MM-DD' // Formato de fecha que usaremos
            },
            startDate: fechaInicio,
            endDate: fechaFin,
            ranges: {
                'Últimos 3 meses': [fechaInicio, fechaFin],
                'Últimos 6 meses': [moment().subtract(6, 'months'), fechaFin],
                'Último año': [moment().subtract(1, 'year'), fechaFin],
                'Este año': [moment().startOf('year'), fechaFin]
            }
        }, function(start, end) {
            // Función que se llama cuando el usuario selecciona un rango de fechas
            const fechaInicio = start.format('YYYY-MM-DD');
            const fechaFin = end.format('YYYY-MM-DD');
            cargarGraficoDestino(fechaInicio, fechaFin);
        });

        function cargarGraficoDestino(fechaInicio = '', fechaFin = '') {
            $.ajax({
                url: '{{ path('app_estadisticas_envios_por_pais_destino')}}',
                method: 'GET',
                data: { fechaInicio: fechaInicio, fechaFin: fechaFin },
                success: function(data) {
                    const totalGeneral = data.totales.reduce((acc, curr) => acc + curr, 0);
                    Highcharts.chart('enviosPorPaisDestinoChart', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Cantidad de envíos por país de destino'
                        },
                        xAxis: {
                            categories: data.labels,
                            title: {
                                text: 'Países'
                            },
                            labels: {
                                rotation: -45, // Gira las etiquetas para evitar solapamientos
                                step: 1, // Asegura que todas las etiquetas se muestren
                                style: {
                                    fontSize: '10px'
                                }
                            }
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Cantidad de envíos'
                            }
                        },
                        tooltip: {
                                formatter: function() {
                                        return `
                                            <b>${this.point.category}</b><br>
                                            <b>${this.point.y} envíos</b><br>
                                            Total a cobrar: <b>${Highcharts.numberFormat(this.point.totalCobrar, 2, '.', ',')} COP</b>
                                        `;
                                    }
                            },
                        plotOptions: {
                            column: {
                                dataLabels: {
                                    enabled: true,
                                    formatter: function() {
                                        const porcentaje = ((this.y / totalGeneral) * 100).toFixed(2);
                                        return `${porcentaje}%`; // Mostrar porcentaje encima de cada barra
                                    },
                                    style: {
                                        fontWeight: 'bold',
                                        color: 'black'
                                    }
                                }
                            }
                        },
                        series: [{
                            name: 'Envíos',
                            data: data.totales.map((total, index) => ({
                            y: total,
                            totalCobrar: data.totalesCobrar[index]
                        })),
                            color: 'rgba(75, 12, 192, 0.8)' 
                        }]
                    });
                },
                error: function(error) {
                    console.error("Error al cargar los datos de envíos por país de destino:", error);
                }
            });
        }

         $('#fechaPesoPorDia').daterangepicker({
            opens: 'left',
            locale: {
                format: 'YYYY-MM-DD' // Formato de fecha que usaremos
            },
            startDate: fechaInicio,
            endDate: fechaFin,
            ranges: {
                'Últimos 3 meses': [fechaInicio, fechaFin],
                'Últimos 6 meses': [moment().subtract(6, 'months'), fechaFin],
                'Último año': [moment().subtract(1, 'year'), fechaFin],
                'Este año': [moment().startOf('year'), fechaFin]
            }
        }, function(start, end) {
            const fechaInicio = start.format('YYYY-MM-DD');
            const fechaFin = end.format('YYYY-MM-DD');
            
            cargarGraficoTotalesPorDia(fechaInicio, fechaFin);
        });

        
        function cargarGraficoTotalesPorDia(fechaInicio = '', fechaFin = '') {
            // Calcular la diferencia de días entre las fechas
            const diffInDays = moment(fechaFin).diff(moment(fechaInicio), 'days');
            let agrupacion = 'daily';

            if (diffInDays > 30 && diffInDays <= 90) {
                agrupacion = 'weekly';
            } else if (diffInDays > 90) {
                agrupacion = 'monthly';
            }

            $.ajax({
                url: '{{ path('app_estadisticas_peso_total_por_dia')}}',
                method: 'GET',
                data: { fechaInicio: fechaInicio, fechaFin: fechaFin, agrupacion: agrupacion },
                success: function(data) {
                    Highcharts.chart('totalesPorDiaChart', {
                        chart: { type: 'line' },
                        title: { text: 'Total de ingresos por fecha' },
                        xAxis: { categories: data.labels, title: { text: 'Fecha' }},
                        yAxis: {
                            min: 0,
                            title: { text: 'Total ($)' }
                        },
                        tooltip: {
                            formatter: function() {
                                const index = this.points ? this.points[0].point.index : this.point.index;
                                const totalFacturado = data.totalesFacturado[index];
                                const totalRecibo = data.totalesRecibo[index];
                                const totalSinCobrar = data.totalesSinCobrar[index];
                                return `
                                    <b>${this.x}</b><br>
                                    Total: <b>$${Highcharts.numberFormat(this.y, 2, '.', ',')} COP</b><br>
                                    Total en Facturas: <b>$${Highcharts.numberFormat(totalFacturado, 2, '.', ',')} COP</b><br>
                                    Total en Recibos: <b>$${Highcharts.numberFormat(totalRecibo, 2, '.', ',')} COP</b><br>
                                    Total sin Cobrar: <b>$${Highcharts.numberFormat(totalSinCobrar, 2, '.', ',')} COP</b>
                                `;
                            },
                            shared: true
                        },
                        series: [{
                            name: 'Total de Ingresos',
                            data: data.totales,
                            color: 'rgba(54, 162, 235, 0.8)'
                        }]
                    });
                },
                error: function(error) {
                    console.error("Error al cargar los datos de totales por día:", error);
                }
            });
        }
        
        $('#fechaPorEmpresa').daterangepicker({
            opens: 'left',
            locale: {
                format: 'YYYY-MM-DD' // Formato de fecha que usaremos
            },
            startDate: fechaInicio,
            endDate: fechaFin,
            ranges: {
                'Últimos 3 meses': [fechaInicio, fechaFin],
                'Últimos 6 meses': [moment().subtract(6, 'months'), fechaFin],
                'Último año': [moment().subtract(1, 'year'), fechaFin],
                'Este año': [moment().startOf('year'), fechaFin]
            }
        }, function(start, end) {
            // Función que se llama cuando el usuario selecciona un rango de fechas
            const fechaInicio = start.format('YYYY-MM-DD');
            const fechaFin = end.format('YYYY-MM-DD');
            cargarGraficoRangosDePeso(fechaInicio, fechaFin, null);
        });
        function cargarGraficoRangosDePeso(fechaInicio = '', fechaFin = '', paisDestino = '') {
            $.ajax({
                url: '{{ path('app_estadisticas_envios_rangos_de_peso')}}',
                method: 'GET',
                data: { fechaInicio: fechaInicio, fechaFin: fechaFin, paisDestino: paisDestino },
                success: function(data) {
                    const rangoMap = {
                        '0 <= 5': 'rango_0_5',
                        '5 <= 10': 'rango_5_10',
                        '10 <= 20': 'rango_10_20',
                        '20 <= 30': 'rango_20_30',
                        '30 <= 40': 'rango_30_40',
                        '40 <= 50': 'rango_40_50',
                        'Más de 50': 'rango_mas_50'
                    };

                    Highcharts.chart('rangosDePesoChart', {
                        chart: { type: 'pie' },
                        title: { text: 'Distribución de Envíos por Rangos de Peso' },
                        tooltip: {
                            formatter: function() {
                                // Mapear el nombre del rango al formato correcto de clave en top3
                                const rangoKey = rangoMap[this.point.name];
                                const top3 = data.top3[rangoKey];
                                const top3Html = top3
                                    ? Object.entries(top3)
                                        .map(([peso, conteo]) => `<br>- ${peso}kg: ${conteo} envíos`)
                                        .join('')
                                    : '<br>- Sin datos';

                                return `
                                    <b>${this.point.name}</b><br>
                                    Envíos: <b>${this.point.y}</b> (${this.point.percentage.toFixed(1)}%)<br>
                                    <b>Top 3 Pesos:</b>${top3Html}
                                `;
                            }
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: true,
                                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                                }
                            }
                        },
                        series: [{
                            name: 'Envíos',
                            colorByPoint: true,
                            data: data.labels.map((label, index) => ({
                                name: label,
                                y: data.data[index]
                            }))
                        }]
                    });
                },
                error: function(error) {
                    console.error("Error al cargar los datos de los rangos de peso:", error);
                }
            });
        }
        // Cargar gráfico sin filtros al cargar la página
        cargarGraficoOrigen(fechaInicio.format('YYYY-MM-DD'), fechaFin.format('YYYY-MM-DD'));
        cargarGraficoDestino(fechaInicio.format('YYYY-MM-DD'), fechaFin.format('YYYY-MM-DD'));
       cargarGraficoRangosDePeso(fechaInicio.format('YYYY-MM-DD'), fechaFin.format('YYYY-MM-DD'), null);
        cargarGraficoTotalesPorDia(fechaInicio.format('YYYY-MM-DD'), fechaFin.format('YYYY-MM-DD'));

    });
</script>
{% endblock %}