{% extends 'base.html.twig' %}

{% block title %}Hello EstadisticasController!{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-6 col-md-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body">
             <div class="d-flex align-items-center">
                    <div>
                      <h4 class="card-title">Rango de fechas:</h4>
                    </div>
                    <div class="ms-auto">
                      <div class="">
                        <input type="text" id="fechaRango" name="fechaRango" class="form-control"/>
                      </div>
                    </div>
                </div>
             <div id="enviosPorPaisChart" style="width:100%; height:400px;"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body">
             <div class="d-flex align-items-center">
                    <div>
                      <h4 class="card-title">Rango de fechas:</h4>
                    </div>
                    <div class="ms-auto">
                      <div class="">
                        <input type="text" id="fechaRangoDestino" name="fechaRangoDestino" class="form-control"/>
                      </div>
                    </div>
                </div>
             <div id="enviosPorPaisDestinoChart" style="width:100%; height:400px;"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body">
             <div class="d-flex align-items-center">
                    <div>
                      <h4 class="card-title">Rango de fechas:</h4>
                    </div>
                    <div class="ms-auto">
                      <div class="">
                        <input type="text" id="fechaPesoPorDia" name="fechaPesoPorDia" class="form-control"/>
                      </div>
                    </div>
            </div>
            <div id="pesoYIngresosPorDiaChart" style="width:100%; height:400px;"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body">
             <div class="d-flex align-items-center">
                    <div>
                      <h4 class="card-title">Rango de fechas:</h4>
                    </div>
                    <div class="ms-auto">
                      <div class="">
                        <input type="text" id="fechaPorEmpresa" name="fechaPorEmpresa" class="form-control"/>
                      </div>
                    </div>
            </div>
            <div id="enviosPorEmpresaChart" style="width:100%; height:400px;"></div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block javascripts %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script>
 $(document).ready(function() {
        const fechaFin = moment();
        const fechaInicio = moment().subtract(3, 'months');
        // Configurar el daterangepicker
        $('#fechaRango').daterangepicker({
            opens: 'left',
            locale: {
                format: 'YYYY-MM-DD' // Formato de fecha que usaremos
            },
            startDate: fechaInicio,
            endDate: fechaFin,
            ranges: {
                'Últimos 3 meses': [fechaInicio, fechaFin],
                'Últimos 6 meses': [moment().subtract(6, 'months'), fechaFin],
                'Último año': [moment().subtract(1, 'year'), fechaFin],
                'Este año': [moment().startOf('year'), fechaFin]
            }
        }, function(start, end) {
            // Función que se llama cuando el usuario selecciona un rango de fechas
            const fechaInicio = start.format('YYYY-MM-DD');
            const fechaFin = end.format('YYYY-MM-DD');
            cargarGraficoOrigen(fechaInicio, fechaFin);
        });

        function cargarGraficoOrigen(fechaInicio = '', fechaFin = '') {
            $.ajax({
                url: '{{ path('app_estadisticas_envios_por_pais')}}',
                method: 'GET',
                data: { fechaInicio: fechaInicio, fechaFin: fechaFin },
                success: function(data) {
                     const totalGeneral = data.totales.reduce((acc, curr) => acc + curr, 0);
                    Highcharts.chart('enviosPorPaisChart', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Cantidad de envíos por ciudad de origen'
                        },
                        xAxis: {
                            categories: data.labels,
                            title: {
                                text: 'Ciudades'
                            }
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Cantidad de envíos'
                            }
                        },
                        tooltip: {
                                pointFormat: '<b>{point.y} envíos</b><br>Total a cobrar: <b>${point.totalCobrar}</b>'
                            },
                        plotOptions: {
                            column: {
                                dataLabels: {
                                    enabled: true,
                                    formatter: function() {
                                        const porcentaje = ((this.y / totalGeneral) * 100).toFixed(2);
                                        return `${porcentaje}%`; // Mostrar porcentaje encima de cada barra
                                    },
                                    style: {
                                        fontWeight: 'bold',
                                        color: 'black'
                                    }
                                }
                            }
                        },
                        series: [{
                            name: 'Envíos',
                            data: data.totales.map((total, index) => ({
                            y: total,
                            totalCobrar: data.totalesCobrar[index]
                        })),
                        color: 'rgba(128, 0, 128, 0.8)'
                            }]
                    });
                },
                error: function(error) {
                    console.error("Error al cargar los datos de envíos por ciudad:", error);
                }
            });
        }


        //grafico destino
         $('#fechaRangoDestino').daterangepicker({
            opens: 'left',
            locale: {
                format: 'YYYY-MM-DD' // Formato de fecha que usaremos
            },
            startDate: fechaInicio,
            endDate: fechaFin,
            ranges: {
                'Últimos 3 meses': [fechaInicio, fechaFin],
                'Últimos 6 meses': [moment().subtract(6, 'months'), fechaFin],
                'Último año': [moment().subtract(1, 'year'), fechaFin],
                'Este año': [moment().startOf('year'), fechaFin]
            }
        }, function(start, end) {
            // Función que se llama cuando el usuario selecciona un rango de fechas
            const fechaInicio = start.format('YYYY-MM-DD');
            const fechaFin = end.format('YYYY-MM-DD');
            cargarGraficoDestino(fechaInicio, fechaFin);
        });

        function cargarGraficoDestino(fechaInicio = '', fechaFin = '') {
            $.ajax({
                url: '{{ path('app_estadisticas_envios_por_pais_destino')}}',
                method: 'GET',
                data: { fechaInicio: fechaInicio, fechaFin: fechaFin },
                success: function(data) {
                    const totalGeneral = data.totales.reduce((acc, curr) => acc + curr, 0);
                    Highcharts.chart('enviosPorPaisDestinoChart', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Cantidad de envíos por país de destino'
                        },
                        xAxis: {
                            categories: data.labels,
                            title: {
                                text: 'Países'
                            }
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Cantidad de envíos'
                            }
                        },
                        tooltip: {
                                pointFormat: '<b>{point.y} envíos</b><br>Total a cobrar: <b>${point.totalCobrar}</b>'
                            },
                        plotOptions: {
                            column: {
                                dataLabels: {
                                    enabled: true,
                                    formatter: function() {
                                        const porcentaje = ((this.y / totalGeneral) * 100).toFixed(2);
                                        return `${porcentaje}%`; // Mostrar porcentaje encima de cada barra
                                    },
                                    style: {
                                        fontWeight: 'bold',
                                        color: 'black'
                                    }
                                }
                            }
                        },
                        series: [{
                            name: 'Envíos',
                            data: data.totales.map((total, index) => ({
                            y: total,
                            totalCobrar: data.totalesCobrar[index]
                        })),
                            color: 'rgba(75, 12, 192, 0.8)' 
                        }]
                    });
                },
                error: function(error) {
                    console.error("Error al cargar los datos de envíos por país de destino:", error);
                }
            });
        }

         $('#fechaPesoPorDia').daterangepicker({
            opens: 'left',
            locale: {
                format: 'YYYY-MM-DD' // Formato de fecha que usaremos
            },
            startDate: fechaInicio,
            endDate: fechaFin,
            ranges: {
                'Últimos 3 meses': [fechaInicio, fechaFin],
                'Últimos 6 meses': [moment().subtract(6, 'months'), fechaFin],
                'Último año': [moment().subtract(1, 'year'), fechaFin],
                'Este año': [moment().startOf('year'), fechaFin]
            }
        }, function(start, end) {
            const fechaInicio = start.format('YYYY-MM-DD');
            const fechaFin = end.format('YYYY-MM-DD');
            
            cargarGraficoPesoYIngresosPorDia(fechaInicio, fechaFin);
        });

        function cargarGraficoPesoYIngresosPorDia(fechaInicio = '', fechaFin = '') {
            $.ajax({
                url: '{{ path('app_estadisticas_peso_total_por_dia')}}',
                method: 'GET',
        data: { fechaInicio: fechaInicio, fechaFin: fechaFin },
        success: function(data) {
            Highcharts.chart('pesoYIngresosPorDiaChart', {
                chart: { type: 'line' },
                title: { text: 'Peso total y ingresos por día' },
                xAxis: { categories: data.labels, title: { text: 'Fecha' }},
                yAxis: [{ // Eje Y para Peso
                    title: { text: 'Peso Total (kg)' },
                    min: 0
                }, { // Eje Y secundario para Ingresos
                    title: { text: 'Ingresos ($)' },
                    opposite: true,
                    min: 0
                }],
                series: [{
                    name: 'Peso Total',
                    data: data.peso_total,
                    color: 'rgba(54, 162, 235, 0.8)',
                    yAxis: 0 // Asignado al primer eje Y
                }, {
                    name: 'Ingresos',
                    data: data.ingresos,
                    color: 'rgba(255, 99, 132, 0.8)',
                    yAxis: 1 // Asignado al eje Y secundario
                }]
            });
        },
        error: function(error) {
            console.error("Error al cargar los datos de peso y ingresos por día:", error);
            }
        });
        }
        
        $('#fechaPorEmpresa').daterangepicker({
            opens: 'left',
            locale: {
                format: 'YYYY-MM-DD' // Formato de fecha que usaremos
            },
            startDate: fechaInicio,
            endDate: fechaFin,
            ranges: {
                'Últimos 3 meses': [fechaInicio, fechaFin],
                'Últimos 6 meses': [moment().subtract(6, 'months'), fechaFin],
                'Último año': [moment().subtract(1, 'year'), fechaFin],
                'Este año': [moment().startOf('year'), fechaFin]
            }
        }, function(start, end) {
            // Función que se llama cuando el usuario selecciona un rango de fechas
            const fechaInicio = start.format('YYYY-MM-DD');
            const fechaFin = end.format('YYYY-MM-DD');
            cargarGraficoEmpresa(fechaInicio, fechaFin);
        });
        function cargarGraficoEmpresa(fechaInicio = '', fechaFin = '') {
            $.ajax({
                url: '{{ path('app_estadisticas_envios_por_empresa')}}',
                method: 'GET',
                data: { fechaInicio: fechaInicio, fechaFin: fechaFin },
                success: function(data) {
                    Highcharts.chart('enviosPorEmpresaChart', {
                        chart: { type: 'pie' },
                        title: { text: 'Cantidad de envíos por empresa' },
                        plotOptions: { 
                            pie: {
                                innerSize: '50%', 
                                dataLabels: { enabled: true, format: '{point.name}: {point.y} envíos ({point.percentage:.1f}%)' }
                            }
                        },
                        series: [{
                            name: 'Envíos',
                            data: data.labels.map((label, index) => ({ name: label, y: data.data[index] }))
                        }]
                    });
                }
            });
        }
        // Cargar gráfico sin filtros al cargar la página
        cargarGraficoOrigen(fechaInicio.format('YYYY-MM-DD'), fechaFin.format('YYYY-MM-DD'));
        cargarGraficoDestino(fechaInicio.format('YYYY-MM-DD'), fechaFin.format('YYYY-MM-DD'));
        cargarGraficoEmpresa(fechaInicio.format('YYYY-MM-DD'), fechaFin.format('YYYY-MM-DD'));
        cargarGraficoPesoYIngresosPorDia(fechaInicio.format('YYYY-MM-DD'), fechaFin.format('YYYY-MM-DD'));

    });
</script>
{% endblock %}