<form method="post" action="{{ path('app_factura_delete', {'id': factura.id}) }}" onsubmit="return confirm('Estas seguro de borrar esta factura?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ factura.id) }}">
    <button class="btn waves-effect waves-light btn-danger">Borrar</button>
</form>
