{% extends 'base.html.twig' %}

{% block title %}Editar Zona{% endblock %}

{% block body %}
    <h1>Editar Zona</h1>

    {{ include('zonas/_form.html.twig', {'button_label': 'Actualizar'}) }}

   

    {{ include('zonas/_delete_form.html.twig') }}
{% endblock %}
