{% extends 'base.html.twig' %}

{% block title %}Zonas index{% endblock %}

{% block body %}
    <h1>Listado de Zonas</h1>
<div class="table-responsive">
<div id="zero_config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for zona in zonas %}
            <tr>
                <td>{{ zona.nombre }}</td>
                <td>{{ zona.tipo }}</td>
                <td>
                   
                    <a class="btn waves-effect waves-light btn-info" href="{{ path('app_zonas_edit', {'id': zona.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no hay zonas registradas</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
  
    <div class="col-lg-2">
  <a class="justify-content-center w-100 btn btn-success d-flex align-items-center"  href="{{ path('app_zonas_new') }}">Nueva Zona</a>
</div>
{% endblock %}
