{% extends 'base.html.twig' %}

{% block title %}Edit FacturaResolucion{% endblock %}

{% block body %}
    <h1>Edit FacturaResolucion</h1>

    {{ include('factura_resolucion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_factura_resolucion_index') }}">back to list</a>

    {{ include('factura_resolucion/_delete_form.html.twig') }}
{% endblock %}
