{% extends 'base.html.twig' %}

{% block title %}Edit FacturaResolucion{% endblock %}

{% block body %}
    <h1>Editar Rersolución</h1>

    {{ include('factura_resolucion/_form.html.twig', {'button_label': 'Actualizar'}) }}


   {# {{ include('factura_resolucion/_delete_form.html.twig') }} #}
{% endblock %}
