{% extends 'base.html.twig' %}

{% block title %}New FacturaResolucion{% endblock %}

{% block body %}
    <h1>Crear Nueva Resolución</h1>

    {{ include('factura_resolucion/_form.html.twig') }}

  
{% endblock %}
