{% extends 'base.html.twig' %}

{% block title %}New FacturaResolucion{% endblock %}

{% block body %}
    <h1>Create new FacturaResolucion</h1>

    {{ include('factura_resolucion/_form.html.twig') }}

    <a href="{{ path('app_factura_resolucion_index') }}">back to list</a>
{% endblock %}
