{% extends 'base.html.twig' %}

{% block title %}Edit Tarifas{% endblock %}

{% block body %}
    <h1>Edit Tarifas</h1>

    {{ include('tarifas/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tarifas_index') }}">back to list</a>

    {{ include('tarifas/_delete_form.html.twig') }}
{% endblock %}
