{% extends 'base.html.twig' %}

{% block title %}Edit Tarifas{% endblock %}

{% block body %}
    <h1>Editar Tarifas</h1>

    {{ include('tarifas/_form.html.twig', {'button_label': 'Actualizar'}) }}


    {{ include('tarifas/_delete_form.html.twig') }}
{% endblock %}
