
{% extends 'base.html.twig' %}


{% block title %}Tarifas index{% endblock %}

{% block body %}
    <h1>Listado De Tarifas</h1>
<div class="table-responsive">
<div id="zero_config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
    <table class="table table-striped table-bordered text-nowrap dataTable" id="data_table_tarifas">
        <thead>
            <tr>
                
                <th>Peso Minimo (kg)</th>
                <th>Peso Maximo (kg)</th>
                <th>Costo Flete $</th>
                <th>Zona</th>
                <th>Total $</th>
                <th>Opciones</th>
               
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    </div>
</div>
<div class="col-lg-2">
  <a class="justify-content-center w-100 btn btn-success d-flex align-items-center" href="{{ path('app_tarifas_new') }}">Nueva Tarifa</a>
</div>
<script>
    
  $(document).ready(function() {
   
      $('#data_table_tarifas').DataTable({
            serverSide: true,
            responsive: true,
            pageLength: 50,
            sPaginationType: "full_numbers",
            language: {
                "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
            },
            ajax: {
                "url": '/tarifas/table',
                "type": "POST"
            },
            columns: [
                {data: 'pesoMinimo'},
                {data: 'pesoMaximo'},
                {data: 'costoFlete'},
                {data: 'zona'},
                {data: 'total'},
                {data: 'actions'}
                
                ],
            columnDefs: [
                
            ],
            order: [[ 0, "desc" ]]
        });
   });
    
</script>
{% endblock %}
