<form method="post" action="{{ path('app_envios_nacionales_delete', {'id': envios_nacionale.id}) }}" onsubmit="return confirm('Estas seguro de borrar esta Remisión?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ envios_nacionale.id) }}">
    <button class="btn waves-effect waves-light btn-danger">Borrar Remisión</button>
</form>
