{% extends 'base.html.twig' %}

{% import "macros/select2.html.twig" as macroselect2 %}

{% block title %}Editar Clientes{% endblock %}
{% block stylesheets %}
{{ macroselect2.styleSelect2}}
{% endblock %}
{% block body %}
    <h1>Edit Clientes</h1>

    {{ include('clientes/_form.html.twig', {'button_label': 'Actualizar'}) }}


    {{ include('clientes/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
 
{{ macroselect2.scriptSelect2}}

<script>
     $( "#form_clientes" ).submit(function( event ) {

         if($('#clientes_tipoReceptor').val()=='PERSONA_NATURAL'){

             if(($('#clientes_nombres').val() ==''|| $('#clientes_nombres').val() ==null) || ($('#clientes_apellidos').val() ==''|| $('#clientes_apellidos').val() ==null)){
                 
                 alert( "Por favor ingresa los nombres y apellidos del cliente" );
                 event.preventDefault();
             }
         }
  
     });

     $("#clientes_municipio").select2();
     $("#clientes_idTributo").select2();
     $("#clientes_idObligacion").select2();
</script>
{% endblock %}