{% extends 'base.html.twig' %}

{% block title %}Edit Clientes{% endblock %}

{% block body %}
    <h1>Edit Clientes</h1>

    {{ include('clientes/_form.html.twig', {'button_label': 'Actualizar'}) }}


    {{ include('clientes/_delete_form.html.twig') }}
{% endblock %}
