{% extends 'base.html.twig' %}

{% block title %}Administrador clientes{% endblock %}

{% block body %}

    <h1>Listado de clientes</h1>
<div class="col-lg-2">
  <a class="justify-content-center w-100 btn btn-success d-flex align-items-center" href="{{ path('app_clientes_new') }}">Nuevo Cliente</a>
</div>
<div class="table-responsive">
<div id="zero_config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
    <table class="table table-striped table-bordered text-nowrap dataTable" id="data_table_clientes">
        <thead>
            <tr>
                <th>Razon Social</th>
                <th>Tipo documento</th>
                <th>Número de documento</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody>
        
        </tbody>
    </table>
 </div>
</div>
<div class="col-lg-2">
  <a class="justify-content-center w-100 btn btn-success d-flex align-items-center" href="{{ path('app_clientes_new') }}">Nuevo Cliente</a>
</div>
   
{% endblock %}
 {% block javascripts %} 
<script>
    
  $(document).ready(function() {
   
      $('#data_table_clientes').DataTable({
            serverSide: true,
            responsive: true,
            pageLength: 50,
            sPaginationType: "full_numbers",
            language: {
                "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
            },
            ajax: {
                "url": '/clientes/table',
                "type": "POST"
            },
            columns: [
                {data: 'razonSocial'},
                {data: 'tipoDocumento'},
                {data: 'numeroDocumento'},
                {data: 'telefono'},
                {data: 'correo'},
                {data: 'actions'}
                
                ],
            columnDefs: [
                
            ],
            order: [[ 0, "desc" ]]
        });
   });
    
</script>
{% endblock %}
