{% extends 'base.html.twig' %}

{% block title %}DHL
{% endblock %}

{% block body %}
	{% for message in app.flashes('notice') %}

		<div class="alert alert-info alert-dismissible fade show" role="alert">
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
      <strong>
			{{ message }}
       </strong>
		</div>
	{% endfor %}
	<form action="{{ path('app_integracion_enviodhl') }}" method="post">
		<div class="row">

			<div class="col-md-8">
				<input class="form-control" id="codigo_barras" type="text" name="codigo_barras">
			</div>
			<div class="col-md-4">
				<input type="submit" value="Buscar" class="
								                                btn btn-info
								                                font-weight-medium
								                                rounded-pill
								                                px-4
								                              ">
			</div>
		</div>
	</form>
{% endblock %}
