{% extends 'base.html.twig' %}

{% block title %}Integraciones con excel{% endblock %}

{% block body %}
 <div class="p-3">
        <div class="form-group ">
         <a class="btn waves-effect waves-light btn-warning" href="{{ path('app_integracion_excel_dhl') }}"> <span class="fab fa-dhl" style="font-size:35px ; color:#fb4c4c;"> </span> CSV DHL</a>
         <a class="btn waves-effect waves-light btn-dark" href="{{ path('app_integracion_excel_ups') }}"> <span class="fab fa-ups" style="font-size:35px ; color:#ffbc34;"> </span> EXCEL UPS</a>
        </div>
    </div>
{% endblock %}
